@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellowDecor: #8FFD01;
}

body {
  background: linear-gradient(#2C3930 49%, #2C3930 0%, #8FFD01 100%, #8FFD01 50%, orange 100%);
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1185px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-size: 38px;
  font-weight: 600;
  color: #0B2B82;
}

.yellowGrBtn {
  display: inline-block;
  color: black;
  font-weight: 600;
  background: linear-gradient(to right, #5A9E02 0%, #8DF703 100%);
}